import(
  optextras,
  numDeriv,
  BB, 
  dfoptim,
  setRNG,
  ucminf,
  Rtnmin,
  Rvmmin,
  Rcgmin,
  lbfgsb3,
  lbfgs
)
importFrom("stats", "nlm", "nlminb", "optim")
importFrom("utils", "str")
importFrom("optextras", "grnd", "grfwd", "grcentral", "grback")
importFrom("optextras", "bmchk", "grchk", "scalechk", "kktchk", "fnchk", "hesschk")
export(
  "coef<-",
  "optimr",
  "opm",
  "optchk",
  "polyopt",
  "multistart",
  "hjn",
  "ctrldefault"
)
S3method("[", "opm")
S3method("as.data.frame", "opm")
S3method("coef", "opm")
S3method("coef<-", "opm")
S3method("summary", "opm")
