

### Exports of main R functions
export(GNE, GNE.nseq, bench.GNE.nseq, bench.GNE.nseq.LM, GNE.ceq, GNE.fpeq, GNE.min)

### template functions
export(Phi, JacPhi)
export(Htemplate, jacHtemplate)

### aux - step functions
export(decrstep, decrstep10, decrstep20, decrstep30, purestep)

### aux - complémentarité functions
export(phiFB, GrAphiFB, GrBphiFB, phiMin, GrAphiMin, GrBphiMin)
export(phiMan, GrAphiMan, GrBphiMan, phiLT, GrAphiLT, GrBphiLT)
export(phiKK, GrAphiKK, GrBphiKK)

### aux - projection, rejection algol
export(projector, rejection)

### aux - complementarity functions
export(potential.ce, gradpotential.ce, psi.ce, gradpsi.ce)

### aux - multinomial logit functions
export(PROBj2kRatio, GrPROBj2kRatio, GrGrPROBj2kRatio)
export(PROBj2kDiff, GrPROBj2kDiff, GrGrPROBj2kDiff)

### depreciated functions
export(NewtonKKT, fixedpoint, minGap)

### test functions
#export(NewtonNext, LevenMarqNext)
#export(eqsolve, graphContourOneIter)
export(graphContourMultIter)

### C code
useDynLib(GNE, .registration = TRUE)