export("GPFoblq")
export("GPForth")

export("oblimin")
export("quartimin")
export("target")
export("pst")
export("oblimax")
export("entropy")
export("quartimax")
export("varimax")
export("simplimax")
export("bentler")
export("tandemI")
export("tandemII")
export("geomin")
export("cf")
export("infomax")
export("mccammon")
