import(
  numDeriv,
  BB, 
  dfoptim,
  setRNG,
  ucminf,
  Rtnmin,
  Rvmmin,
  Rcgmin,
  nloptr,
  lbfgsb3
)
# importFrom("minqa", "bobyqa", "newuoa", "uobyqa")
# import(nloptr, except(c(bobyqa, newuoa)))
# importFrom("nloptr", "bobyqa", "newuoa")
importFrom("stats", "nlm", "nlminb", "optim")
importFrom("utils", "str")
export(
  "coef<-",
  "optimr",
  "opm",
  "optchk",
  "grfwd",
  "grback",
  "grcentral",
  "grchk",
  "hesschk",
  "grnd",
  "ctrldefault",
  "bmchk",
  "fnchk",
  "kktchk",
  "scalecheck"
)
S3method("[", "opm")
S3method("as.data.frame", "opm")
S3method("coef", "opm")
S3method("coef<-", "opm")
S3method("summary", "opm")

