##
##  NAMESPACE
##

# Public routines
export(
   nlxb,
   nlfb,
   wrapnlsr,
   resss,
   resgr,
   modelexpr,
   modeldoc,
   model2rjfun,
   model2rjfunx,
   model2ssgrfun,
   model2ssgrfunx,
   print.nlsr,
   summary.nlsr,
   coef.nlsr,
   nlsDeriv, 
   fnDeriv,
   nlsSimplify,
   newDeriv,
   sysDerivs,
   newSimplification,
   sysSimplifications,
   findSubexprs,
   isFALSE,
   isZERO,
   isONE,
   isMINUSONE,
   isCALL
)

importFrom(digest, digest)
importFrom("stats", "deriv", "nls", "pt")

S3method(print, modeldoc)
S3method(coef, nlsr)
S3method(print, nlsr)
S3method(summary, nlsr)
