##
##  NAMESPACE
##

# Public routines
export(
   nlsrxb,
   nlsrfb,
   wrapnlsr,
   resss,
   resgr,
   modelexpr,
   modeldoc,
   model2rjfun,
   model2rjfunx,
   model2ssgrfun,
   model2ssgrfunx,
   print.nlsr,
   summary.nlsr,
   coef.nlsr,
   Deriv, 
   fnDeriv,
   Simplify,
   newDeriv,
   sysDerivs,
   newSimplification,
   sysSimplifications,
   findSubexprs,
   isFALSE,
   isZERO,
   isONE,
   isMINUSONE,
   isCALL
)

importFrom(digest, digest)

S3method(print, modeldoc)
