importFrom("stats", "nlm", "nlminb", "optim")
importFrom("numDeriv", "grad", "hessian", "jacobian")
importFrom("utils", "str")
importFrom("optextras", 
  "axsearch",
  "bmchk",
  "bmstep",
  "fnchk",
  "gHgen",
  "gHgenb",
  "grback",
  "grcentral",
  "grchk",
  "grfwd",
  "grnd",
  "hesschk", 
  "kktchk",
  "optsp",
  "scalechk"
)
export(
  "checksolver",
  "ctrldefault",
  "coef<-",
  "hjn",
  "multistart",
  "optimx",
  "optimr",
  "opm",
  "optchk",
  "polyopt",
  "snewton",
  "snewtonm"
)
S3method("[", "opm")
S3method("as.data.frame", "opm")
S3method("coef", "opm")
S3method("coef<-", "opm")
S3method("summary", "opm")
S3method("[", "optimx")
S3method("as.data.frame", "optimx")
S3method("coef", "optimx")
S3method("coef<-", "optimx")
S3method("summary", "optimx")




