##
##  NAMESPACE
##

# Public routines
export(gloptim,
       gloptimj
)

importFrom(DEoptim, DEoptim)
importFrom(DEoptimR, JDEoptim)
importFrom(adagio, simpleDE)
importFrom(GA, ga)
importFrom(smco, smco)
importFrom(soma, soma)

# S4 Methods
