export(
  "root1d",
  "zeroin",
  "newt1d",
  "rootwrap",
  "rwx",
  "multrfind"
)
importFrom("pracma",
           "brent",
           "bisect",
           "muller",
           "regulaFalsi",
           "newton",
           "secant"
)
importFrom ("stats", "uniroot")