import(
  numDeriv,
  BB, 
  dfoptim,
  minqa,
  setRNG,
  ucminf,
  Rtnmin,
  Rvmmin,
  Rcgmin,
  lbfgsb3
)

export(
  optest.setup,
  optimr,
  ctrldefault,
  bmchk,
  fnchk,
  scalecheck,
  op,
  opm
)

