import(
  numDeriv,
  BB, 
  dfoptim,
  minqa,
  setRNG,
  ucminf,
  Rtnmin,
  Rvmmin,
  Rcgmin,
  lbfgsb3
)

export(
  optimr,
  opm,
  optchk,
  grfwd,
  grback,
  grcentral,
  grchk,
  hesschk,
  grnd,
  ctrldefault,
  bmchk,
  fnchk,
  kktchk,
  scalecheck
)

