##
##  NAMESPACE
##

# Public routines
export(
   nls14xb,
   nls14fb,
   wrap14nls,
   resss,
   resgr,
   model2grfun,
   model2jacfun,
   model2resfun,
   model2ssfun, 
   print.nls14,
   summary.nls14,
   coef.nls14
)

# S4 Methods
