##
##  NAMESPACE
##

# Public routines
export(
   nls14xb,
   nls14fb,
   wrap14nls,
   resss,
   resgr,
   modelexpr,
   modeldoc,
   model2rjfun,
   model2rjfunx,
   model2ssgrfun,
   model2ssgrfunx,
   print.nls14,
   summary.nls14,
   coef.nls14,
   Deriv, 
   fnDeriv,
   Simplify,
   newDeriv,
   sysDerivs,
   newSimplification,
   sysSimplifications,
   findSubexprs,
   isFALSE,
   isZERO,
   isONE,
   isMINUSONE
)

importFrom(digest, digest)

# S4 Methods
