##
##  NAMESPACE
##

# Public routines
export(
   nls14xb,
   nls14fb,
   wrap14nls,
   resss,
   resgr,
   modelexpr,
   model2grfun,
   model2jacfun,
   model2resfun,
   model2rjfun,
   model2ssfun, 
   model2ssgrfun,
   print.nls14,
   summary.nls14,
   coef.nls14,
   Deriv, 
   Simplify,
   newDeriv,
   sysDerivs,
   newSimplification,
   sysSimplifications,
   isFALSE,
   isZERO,
   isONE,
   isMINUSONE
)

# S4 Methods
