export(
  "optsp",
  "axsearch",
  "fnchk",
  "grback",
  "grcentral",
  "grchk",
  "grfwd",
  "hesschk", 
  "ufn",
  "ugr",
  "uhess",
  "kktchk",
  "gHgen",
  "gHgenb",
  "ugHgenb",
  "bmchk",
  "bmstep",
  "scalechk",
  "grnd"
)
 importFrom("utils", "str")
 importFrom("numDeriv", "grad", "hessian", "jacobian")

