##
##  NAMESPACE
##

# Public routines
export(
   nlxb,
   nlfb,
   wrapnls,
   modss,
   modgr,
   model2grfun,
   model2jacfun,
   model2resfun,
   model2ssfun, 
   print.nlmrt,
   summary.nlmrt,
   coef.nlmrt
)

# S4 Methods
